* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d2b48c;
}

 .wrapper {
   margin: 0 auto;
   width: 1000px;
   background-color: #fff8dc;
}

nav {
  width: 100%;
  height: 100px;
  background-color: #556b2f;
  }

ul {
  margin-left: 0%;

}

ul li {
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 100px;
}
ul li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-family: cursive;
  color: black;
  padding: 0 20px;
}

ul li a:hover {
  color: #228b22;
}

.img {
  width: 100px;
  height: 600px;
}
